ACTIVESG_VENUE=Bishan Sport Hall
ACTIVESG_DATE=2026-05-18
ACTIVESG_TIMES=19:00,20:00
ACTIVESG_SEARCH_TERM=
ACTIVESG_PROFILE_DIR=.chrome-profile
ACTIVESG_LOGIN_TIMEOUT_MS=300000
ACTIVESG_AUTO_FINAL_CONFIRM=false
CHROME_EXECUTABLE_PATH=
